.bfn-footnoteRef,
.bfn-footnoteHook {
  font-size: 0.7em;
  font-weight: bold;
  margin-top: -0.4em;
  margin-left: 0.2em;
  display: inline-block;
  vertical-align: top;
}
.bfn-footnotesList {
  list-style: none;
}
